.fm-button {
  border-radius: 5px;
  font-weight: 600;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.fm-button-primary {
  background-color: var(--fm-primary-color);
  color: white;

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2));
  }
}

.fm-button-secondary {
  background-color: var(--fm-tertiary-bg-color);
  color: var(--fm-text-color);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1));
  }
}

.fm-button-danger {
  background-color: #f44336;
  color: white;

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2));
  }
}