.bread-crumb-container {
  position: relative;
  font-size: var(--fm-font-size);

  .breadcrumb {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid var(--fm-border-color);
    padding: 6px 0 6px 15px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--fm-primary-color) !important;
    }

    .nav-toggler {
      display: flex;
      align-items: center;
    }

    .divider {
      width: 1px;
      background-color: var(--fm-border-color);
    }

    .folder-name {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 500;
      min-width: fit-content;

      &:hover {
        cursor: pointer;
        color: var(--fm-primary-color);
      }
    }

    .hidden-folders {
      padding: 0 4px;
    }

    .folder-name-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      margin-top: 2px;

      &:hover,
      &:focus {
        cursor: pointer;
        color: var(--fm-primary-color);
        background-color: var(--fm-item-hover-bg-color);
        border-radius: 5px;
      }
    }
  }
}

.hidden-folders-container {
  position: absolute;
  margin: 0;
  z-index: 2;
  background-color: rgb(99, 99, 99);
  color: white;
  padding: 4px;
  border-radius: 5px;
  font-size: .9em;
  left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5px;

  li {
    padding: 5px 10px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: var(--fm-item-hover-bg-color);
      color: var(--fm-item-hover-color);
    }
  }
}