.hdgrfm-toolbar {
  height: 60px;
  min-height: 44px;
  border-bottom: 1px solid var(--fm-border-color);
  padding: 0 10px;
  background-color: var(--fm-bg-color);

  .hdgrfm-file-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      display: flex;
      gap: 8px;
    }

    .hdgrfm-file-action {
      /* Inherits basic styling from .hdgrfm-item-action */

      &:hover:disabled {
        cursor: default;
        background-color: transparent !important;
        color: #b0b0b0;
        text-shadow: none;
      }
    }
  }

  .hdgrfm-fm-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      display: flex;
      position: relative;
      gap: 8px;
    }

  }

  .hdgrfm-item-action {
    background-color: var(--fm-bg-color);
    color: var(--fm-text-color);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 12px;
    font-size: 14px;
    width: fit-content;
    border: 1px solid var(--fm-border-color);
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: var(--fm-item-hover-bg-color) !important;
      color: var(--fm-item-hover-color);
    }

    .hdgrfm-toggle-view-icon {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
