.toolbar {
  height: 60px;
  min-height: 44px;
  border-bottom: 1px solid var(--fm-border-color);
  padding: 0 10px;

  .file-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      display: flex;
      gap: 8px;
    }

    .file-action {
      /* Inherits basic styling from .item-action */

      &:hover:disabled {
        cursor: default;
        background-color: transparent !important;
        color: #b0b0b0;
        text-shadow: none;
      }
    }
  }

  .fm-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      display: flex;
      position: relative;
      gap: 8px;
    }

    .toggle-view {
      position: absolute;
      z-index: 3;
      top: 105%;
      right: 22%;
      background-color: white;
      margin: 0;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      font-size: var(--fm-font-size);

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0.4em 0;
        display: flex;
        flex-direction: column;
        gap: 1px;

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 5px 20px 5px 10px;

          &:hover {
            cursor: pointer;
            background-color: var(--fm-item-hover-bg-color);
            color: var(--fm-item-hover-color);
          }

          span:nth-child(1) {
            width: 13px;
          }
        }
      }
    }
  }

  .item-action {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 12px;
    font-size: 14px;
    width: fit-content;
    border: 1px solid var(--fm-border-color);
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: var(--fm-item-hover-bg-color) !important;
      color: var(--fm-item-hover-color);
    }

    .toggle-view-icon {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .icon-only {
    padding: 7px !important;

    &:focus {
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 3px;
    }
  }
}