.hdgrfm-file-previewer {
  padding: .8em;
  height: 40dvh;
  display: flex;
  justify-content: center;
  font-size: var(--fm-font-size);

  .hdgrfm-photo-popup-image {
    object-fit: contain;
    width: -webkit-fill-available;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .hdgrfm-img-loading {
    opacity: 0;
    height: 0%;
    width: 0%;
  }

  .hdgrfm-img-loading {
    height: 0;
  }

  .hdgrfm-audio-preview {
    align-self: center;
    width: 60%;
  }

  .hdgrfm-photo-popup-iframe {
    width: -webkit-fill-available;
  }

  .hdgrfm-preview-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .hdgrfm-error-icon {
      color: rgb(73, 73, 73);
    }

    .hdgrfm-error-msg {
      font-weight: 500;
      font-size: 1.1em;
      margin-bottom: 4px;
    }

    .hdgrfm-file-info {
      display: flex;
      gap: 6px;
      align-items: center;
      margin: 1px 0 5px 0;

      .hdgrfm-file-name {
        padding: 4px 15px;
        background-color: rgb(233, 233, 233);
        border: 1px solid rgb(163, 173, 173);
        border-radius: 3px;
      }

      .hdgrfm-file-size {
        font-size: .8em;
      }
    }

    .hdgrfm-download-btn {
      display: flex;
      gap: 3px;
      align-items: center;
    }

  }
}

.hdgrfm-file-previewer.hdgrfm-pdf-previewer {
  height: 85dvh;
}

.hdgrfm-video-preview {
  width: -webkit-fill-available;
}
