.fm-checkbox-wrapper {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  &.hidden {
    visibility: hidden;
  }

  &.visible {
    visibility: visible;
  }
}

.fm-checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.fm-checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1.5px solid var(--fm-primary-color);
  border-radius: 4px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fm-checkbox-wrapper:hover input~.fm-checkbox-checkmark {
  background-color: rgba(0, 0, 0, 0.05);
}

.fm-checkbox-wrapper input:checked~.fm-checkbox-checkmark {
  background-color: #fff;
  border-color: var(--fm-primary-color);
  transform: scale(1.1);
  animation: fm-checkbox-pop 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fm-checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.fm-checkbox-wrapper input:checked~.fm-checkbox-checkmark:after {
  display: block;
}

.fm-checkbox-wrapper .fm-checkbox-checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--fm-primary-color);
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg) scale(0);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fm-checkbox-wrapper input:checked~.fm-checkbox-checkmark:after {
  transform: rotate(45deg) scale(1.1);
}

.fm-checkbox-wrapper input:disabled~.fm-checkbox-checkmark {
  border-color: #ccc;
  background-color: #f5f5f5;
  cursor: not-allowed;
}

@keyframes fm-checkbox-pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}