.hdgrfm-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img,
svg {
  vertical-align: middle;
}


.hdgrfm-file-explorer {
  min-height: 400px;
  width: 100%;
  font-family: var(--fm-font-family);
  border: 1px solid var(--fm-border-color);
  border-radius: 8px;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  flex-direction: column;

  button {
    font-family: var(--fm-font-family);
  }

  position: relative;
  background-color: var(--fm-bg-color);
  color: var(--fm-text-color);
  cursor: default;
  /* Disable Text Selection on Double Click */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .hdgrfm-files-container {
    display: flex;
    flex: 1;
    min-height: 0;

    .hdgrfm-navigation-pane {
      z-index: 10;
      padding-top: 8px;
      background-color: var(--fm-bg-color);
      min-width: 0;
      position: relative;
      height: 100%;

      .hdgrfm-sidebar-resize {
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 5px;
        cursor: col-resize;
        z-index: 10;
        border-right: 1px solid var(--fm-border-color);

        &:hover {
          border-right: 1px solid #1e3a8a;
        }
      }

      .hdgrfm-sidebar-dragging {
        border-right: 1px solid #1e3a8a;
      }
    }

    .hdgrfm-navigation-pane.hdgrfm-open {
      display: block;
    }

    .hdgrfm-navigation-pane.hdgrfm-closed {
      display: none;
    }

    .hdgrfm-folders-preview {
      z-index: 1;
      background-color: var(--fm-bg-color);
      padding-right: 0px;
      padding-left: 0px;
      min-width: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

.hdgrfm-close-icon {
  padding: 5px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.07);
  }
}

.hdgrfm-fm-rename-folder-container {
  padding: 8px 0;
  text-align: left;

  .hdgrfm-fm-rename-folder-input {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 12px 12px;

    .hdgrfm-fm-rename-warning {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .hdgrfm-fm-rename-folder-action {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px 8px 0 0;
  }
}

