.hdgrfm-sb-folders-list {
  list-style: none;
  margin: 0px 4px;
  height: 100%;
  font-size: var(--fm-font-size);
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    padding-top: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--fm-primary-color) !important;
    border-radius: 8px;
  }

  .hdgrfm-folder-collapsible {
    margin-left: 10px;
  }

  .hdgrfm-sb-folders-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 6px 5px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: var(--fm-item-hover-bg-color);
      color: var(--fm-item-hover-color);
    }

    .hdgrfm-non-expanable {
      min-width: 20px;
    }

    .hdgrfm-sb-folder-details {
      display: flex;
      align-items: center;

      .hdgrfm-folder-open-icon {
        margin: 0 7px;
      }

      .hdgrfm-folder-close-icon {
        margin: 1px 9px 0px 8px;
      }

      .hdgrfm-sb-folder-name {
        width: max-content;
      }
    }

    .hdgrfm-folder-icon-default {
      transform: rotate(0deg);
      transition: transform 0.5s ease-in-out;

      &.hdgrfm-folder-rotate-down {
        transform: rotate(90deg);
      }
    }
  }

  .hdgrfm-active-list-item {
    background-color: var(--fm-primary-color);
    color: white;

    &:hover {
      cursor: pointer;
      background-color: var(--fm-primary-color);
    }
  }

  .hdgrfm-empty-nav-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
